@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');


@keyframes playWaveform {
    0% {
      transform: scaleY(0.5);
    }
    50% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(0.5);
    }
  }
  
  .music-button {
    width: 95px;
    height: 90px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border :#333  1px solid;
    overflow: hidden;
  }
  
  .music-button:hover {
    border :#fff  1px solid;
  }
  
  .waveform {
    width: 30px;
    height: 40px;
    background-color: #fff;
    animation: playWaveform 1s infinite;
  }
  